<ng-container #aboutMe>
    <span><h3>Hi, I'm Porter</h3></span>
    <span><h5>A Full Stack/Frontend Developer</h5></span> 

    <div #aboutMe style="width: 80%">
        My mission is to create web applications that people actually enjoy using. 
        I have a strong background in backend development, leveraging technologies like 
        C#, Java, Python, .NET Core, and T-SQL to build robust and scalable solutions. 
        On the frontend, I specialize in crafting intuitive and visually appealing interfaces 
        using JavaScript, TypeScript, Angular, Angular Material, HTML5, SASS, and RxJS. 
        I believe in the power of technology to simplify and enhance our lives, and I'm dedicated 
        to building applications that do just that. 
    </div>
</ng-container>
