<div #aboutMe class="about-me">
    <h3>Hi, I'm Porter</h3>
    <h5>A Full Stack/Frontend Developer</h5>

    <div #aboutMeDescription class="description">
        <p>
            I'm passionate about crafting web applications that are both beautiful and user-friendly. 
            With expertise in both backend technologies (C#, Java, Python, .NET Core, T-SQL) and 
            frontend frameworks (JavaScript, TypeScript, Angular, Angular Material, HTML5, SASS, RxJS), 
            I thrive on building solutions that solve real problems and delight users.
        </p>
    </div>
    <mat-divider></mat-divider>
    <div #aboutMeHobbies class="description">
        <p>
            Beyond coding, I'm an avid DIY enthusiast, finding satisfaction in building and modifying mechanical 
            keyboards and building and upgrading PCs. I'm also passionate about the outdoors, enjoying activities like hiking, 
            fly fishing, and spending time with my dog. When I'm not exploring nature or honing my technical skills, 
            I express my creativity through fly tying and leatherwork and cherish quality time with loved ones.
        </p>
    </div>
  </div>
